<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Dancing+Script&family=Pacifico&family=Playfair+Display:ital@1&family=Roboto+Condensed&family=Source+Sans+Pro:wght@200&family=Square+Peg&family=Tapestry&family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 id="profileh1">Browse Entries</h1>
        <a href="/profile">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

       
        <div class="col-sm-6">
          <h3>Posts</h3>
          <ul class="messages">
          <% for(var i=0; i<entries.length; i++) {%>
              <li class="feedmessages">
                
                  <h4><%= entries[i].date %></h4>
                  <h4><%= entries[i].title %></h4>
                  <a href="/post/<%= entries[i]._id %>"> see post</a>
                  <a href="/page/<%= entries[i].postedBy %>"></a>
                  <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                
              </li>
            
          <% } %>
          </ul>


</div>

<script src="main.js"></script>

</body>
</html>
