<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="css/main.css">
  <title>Mood Log</title>
</head>
<body>




  <h3>How are you feeling?</h3>
  <form action="/mood" method="post">
  <select name="currentMood" id="mood">
    <option value="good">Good</option>
    <option value="bad">Bad</option>
  </select>
  <input value="Submit" type="submit">
  </form>
  <table id="moodtable">
   
    <tbody>

      <tr>
            <td></td>
            <td></td>
          	<td></td>
            <td></td>
            <td></td>
            <td></td>
          	<td></td>
        </tr>
       
    </tbody>
</table>








</body>
</html>