body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
h1{
  color:white;
}
#main.inner{
  background:rgb(100, 8, 100);
}
.blue{
  color:rgb(33, 33, 230);
}
/* .well{
  display:none;
} */
